
<!-- banner Content -->
<div class="hero">
    <div id="banner-content">
        <div class="col-1">
          <div class="section-banner">
            <h1>Pear Parfait with Bayleaf</h1>
            <p>Lorem ipsum dolor sit amet, ad omnium necessitatibus eos, qui natum repudiare et. Ei euismod perfecto vim.
                //                   Natum sententiae eloquentiam nam ad, et integre laboramus duo. Ea everti probatus ius, pro noster corpora in</p>
          </div>
            <!-- call to Action -->
            <a href="#" class="button">Read More</a>
        </div>
    </div>
</div>

