<div class="gallery">
    <h2 class="goldHeading">Gallery</h2>
    <div class="gallery-images">
        <!-- tile1 -->
        <div class="tile">
            <img src="../assets/images/img1.png" class="responsive">
        </div>
        <!-- tile2 -->
        <div class="tile">
            <img src="../assets/images/img2.png" class="responsive">
        </div>
        <!-- tile3 -->
        <div class="tile">
            <img src="../assets/images/img3.png" class="responsive" id="img3">
        </div>
        <!-- tile4 -->
        <div class="tile">
            <img src="../assets/images/img4.png" class="responsive" id="img4">
        </div>
        <!-- tile5 -->
        <div class="tile">
            <img src="../assets/images/img5.png" class="responsive">
        </div>

    </div>
</div>
