
* {
  margin: 0;
  padding: 0;
}

/* typograpy */
h1, h2, h3, h4, h5 {
  font-family: 'Rakkas', cursive;
}
p, span, li, .form-style-1  {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

// body content center
.recipe, .gallery, .contact {
  width: 60%;
  margin: 100px auto 0 auto;
}

// Section headings
.goldHeading {
  text-align: center;
  margin-bottom: 15px;
  color: #b7ab61;
  letter-spacing: 2px;
}
